.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.cart-items {
  padding-left: 50px;
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-bottom: 20px;
}

.ticket-item {
  padding: 15px;
  margin-top: 10px;
  border-color: aqua;
  border-style: solid;
  border-radius: 15px;
}

.trash-button {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.trash-button:hover {
  cursor: pointer;
  outline: 3px solid #45a049;
  border-radius: 8px;
}

.bi.bi-trash {
  width: 32px;
  height: auto;
  font-size: 1.5rem;
}

.ticket-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-summary {
  width: 30%;
}
