*,
*::before,
*::after {
  box-sizing: border-box;
}

.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.cart-items {
  padding-left: 50px;
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-bottom: 20px;
}

.ticket-item {
  padding: 15px;
  margin-top: 10px;
  border-color: aqua;
  border-style: solid;
  border-radius: 15px;
}

.trash-button {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.trash-button:hover {
  cursor: pointer;
  outline: 3px solid #45a049;
  border-radius: 8px;
}

.bi.bi-trash {
  width: 32px;
  height: auto;
  font-size: 1.5rem;
}

.ticket-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.cart-summary {
  width: 80%;
}

.place-order button:hover {
  cursor: pointer;
  background-color: rgba(69, 160, 73, 0.7);
  color: white;
}


.place-order button {
  border-radius: 10px;
  border-width: 1px;
  height: 3.2rem;
  width: 60%;
  background-color: #45a049;
  color: white;
  font-size: 1.7rem;
}

.place-order {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border-width: 1px;
  height: 3.5rem;
  width: 100%;
}

.not-logged-in-prompt {
  display: flex;
  flex-direction: row;
}

.not-logged-in-prompt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.guest-prompt {
  width: 38%;
  border: 3px solid #000000;
  padding: 15px;
  border-radius: 15px;
}

.guest-prompt p,
h3,
h2 {
  margin: 10px 0;
}

.user-email {
  width: 100%;
  border-radius: 8px;
  height: 2rem;
  border: 1px solid #ccc;
  transition: border-color 0.3 ease;
}


@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(8px);
  }

  40%,
  80% {
    transform: translateX(-8px);
  }
}

.user-email-error {
  border-color: red;
  animation: shake 0.3s;

}

.prompt-login {
  border: solid;
  border-width: 3px;
  border-color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 38%;
  border-radius: 15px;
  gap: 1.7rem;
}

.prompt-login div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.prompt-login button {
  border-radius: 10px;
  border-width: 1px;
  height: 3rem;
  width: 45%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.invalid-email-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.login-button {
  background-color: #45a049;
  color: white;

}
