.contact-page {
  margin-left: 20px;
}

.contact-page * {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-weight: lighter;
}

.contact-page h1 {
  font-size: 4rem;
}

.contact-page h3 {
  font-size: 2.5rem;
}

.contact-page p {
  font-size: 1.2rem;
}
