.event-popular-section {
  display: flex;
  position: relative;
  margin-top: 10rem;
}

.event-popular {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
  overflow-x: auto;
  box-sizing: border-box;
  border: 2px solid blue;
}

p .event-popular::-webkit-scrollbar {
  display: none;
}
.slider {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.category-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 900px;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-items div {
  margin-right: 1rem;
}

.category-item {
  display: flex;
  align-items: center;
  border-radius: 30px;
  overflow: auto;
  min-width: 200px;
  flex: 0 0 auto;
}

.event-popular img {
  width: 400px;
  height: auto;
}

.arrow {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.event-popular .category-item {
  border: 4px solid #8f27dd;
  font-size: 1.5rem;
}

.arrow-left-button,
.arrow-right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: dashed;
  border-width: 1.5rem;
  border-color: transparent;
  border-radius: 1rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 20px;
}

.arrow-left-button:hover,
.arrow-right-button:hover {
  box-shadow: 0 0 0 4px #62bb66;
}

.arrow-left-button img,
.arrow-right-button img {
  max-width: 12px;
  max-height: auto;
}

.scroll-left {
  min-width: 3rem;
}

.scroll-right {
  min-width: 3rem;
}

.scroll-left,
.scroll-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.arrow-left-button {
  font-size: 30px;
}

.arrow-right-button {
  font-size: 3rem;
}
